@{
    ViewBag.Title = "Blog";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="blog">
    <header>
        <h3></h3>
    </header>
    <p>
        <span class="label"></span>
        <span></span>
    </p>
</section>

<section class="blog">
    <header>
        <h3>Gears Of War</h3>
    </header>
    <p>
    </p>
</section>

<section class="blog">
    <header>
        <h3></h3>
    </header>
    <p>
    </p>
</section>