@{
    ViewBag.Title = "FeedBack";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="FeedBack">
    <header>
        <h3>Questions</h3>
    </header>
    <p>
        <span class="label"></span>
        <span></span>
    </p>
</section>

<section class="FeedBack">
    <header>
        <h3>Advice</h3>
    </header>
    <p>
    </p>
</section>

<section class="FeedBack">
    <header>
        <h3>Ideas</h3>
    </header>
    <p>
    </p>
</section>