@{
    ViewBag.Title = "Games";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="game">
    <header>
        <h3>Xbox One</h3>
    </header>
    <p>
        <span class="label"></span>
        <span></span>
    </p>
</section>

<section class="game">
    <header>
        <h3>Playstation 3</h3>
    </header>
    <p>
    </p>
</section>

<section class="game">
    <header>
        <h3>Nintendo Wii</h3>
    </header>
    <p>
    </p>
</section>